
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,400;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 94%);
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: left;
    border-radius: 12px 12px 190px 12px;
    width: 55%;
    background-color: hsl(0, 0%, 100%);
    height: fit-content;
    box-shadow: 0 0 8px rgba(0, 0, 0, -0.2);
}
.content{
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 0.5rem;
    color: hsl(0, 1%, 44%);

}
.divider{
    align-items: center;
    display: flex;
}
hr{
    height: 1px;
    width: 80%;
}
input{
    font-size: 20px;
    font-weight: 700;
    width: 7rem;
    height: 3.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: hsl(0, 1%, 44%) solid 0.2px;
}
span{
    color: hsl(259, 100%, 65%);
    font-size: 4.5rem;
    font-weight: 800;
}
.input_control{
    margin-right: 2rem;
    display: grid;
}
 
.input_control input:focus{
    outline: 0;
}

.input_control .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    margin-top: 5px;
    font-style: italic;
    font-weight: 200i;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.circular-button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circular-button:hover {
    background-color: #252525; /* Green */
    color: white;
  }
.result{  
    font-weight: 900;
    font-size: 5rem;
}

@media only screen and (max-width: 750px){
    
 
  .main{
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-15%, -10%);
    min-width: fit-content;
    margin: 1rem;
    border-radius: 12px 12px 120px 12px;
  }
  hr{
    height: 1px;
    max-width: 90%;
}
input{
    font-size: 20px;
    font-weight: 700;
    max-width: 4rem;
    max-height: 2rem;
    padding-left: 0.5rem;
}
.result{  
    font-weight: 900;
    font-size: 2rem;
}
span{
    font-weight: 900;
    font-size: 2rem;
}
.input_control{
    margin-right: 1rem;
    display: grid;
}
hr{
    width: 90%;
}

.circular-button {
    height: 60px;
    width: 60px;
}    
}
